<div class="col-md-12">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 Titolo Titoli">
      <h1>TeaWay, </h1><h3><i>Tè pregiati dal mondo</i></h3>
    </div>
  </div>                                                          <!--chiusura titolo-->


  <hr>
  <br>




  <div class="row">                                               <!--riga The Sfusi-->

    <div class="col-md-3 col-md-offset-2">
      <div class="row Consigliati Scritte">
        <h3>Sfusi</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-2">
          <a href="#"><img src="../../assets/Immagini/sfusiA.jpeg" height="100" width="200"/></a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-2">
      <div class="row Consigliati Scritte">
        <h3>I consigliati</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/Sfuso1.jpg" height="100" width="60"/></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/Sfuso2.jpg" height="100" width="70"/></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/Sfuso3.jpg" height="100" width="70"/></a>
        </div>
      </div>
    </div>

  </div>

  <br>
  <hr>
  <br>

  <div class="row">                                               <!--riga The Confezionati-->

    <div class="col-md-3 col-md-offset-2">
      <div class="row Consigliati Scritte">
        <h3>Confezionati</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-2">
          <a href="#"><img src="../../assets/Immagini/confA.jpg" height="100" width="200"/></a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-2">
      <div class="row Consigliati Scritte">
        <h3>I consigliati</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <a href="#"><img  src="../../assets/Immagini/conf1.jpg" height="100" width="60"/></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/conf2.jpg" height="100" width="70"/></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/conf3.jpg" height="100" width="70"/></a>
        </div>
      </div>
    </div>


  </div>

  <br>
  <hr>
  <br>


  <div class="row">                                               <!--riga The Sfusi-->

    <div class="col-md-3 col-md-offset-2">
      <div class="row Consigliati Scritte">
        <h3>Assaggi</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-2">
          <a href="#"><img src="../../assets/Immagini/assA.jpg" height="100" width="200"/></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <div class="row Consigliati Scritte">
        <h3>I consigliati</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/ass1.jpg" height="100" width="60"/></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/ass2.jpg" height="100" width="70"/></a>
        </div>
        <div class="col-md-4">
          <a href="#"><img src="../../assets/Immagini/ass3.jpg" height="100" width="70"/></a>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>

</div>

